body {
    display: flex;
    flex-direction: column;

    align-items: center;
}

#img {
    margin-bottom: 20px;
}

.imgTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.tableCell {
    background: grey;
}