@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Arial;
}

body {
  margin: 0;
}
body.toggledLegal {
  overflow: hidden;
}
body.toggledLegal #contact {
  overflow-y: scroll;
}

#navbar {
  position: relative;
  overflow: hidden;
  width: auto;
  padding: 0 2em;
  background-color: #555;
  z-index: 2;
  transform: skew(0);
  border-radius: 45px;
  transition-property: transform, border-radius;
  transition-duration: 1s;
  /* Style the links inside the navigation bar */
}
#navbar.sticky {
  position: fixed;
  top: 0;
  border-radius: 0;
  transition-property: transform, border-radius;
  transition-duration: 1s;
}
#navbar.sticky a div {
  transform: skew(30deg);
  transition-property: transform;
  transition-duration: 1s;
}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: x-large;
  /* Change the color of links on hover */
  /* Add an active class to highlight the current page */
}
#navbar a:hover {
  background-color: #ddd;
  color: #555;
}
#navbar a.active {
  background-color: #f4a460;
  color: #555;
}
#navbar a div {
  transform: skew(0);
  transition-property: transform;
  transition-duration: 1s;
}

.sectionTitle {
  font-size: x-large;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#accueil {
  background: whitesmoke;
  background: linear-gradient(180deg, #efefef 0%, whitesmoke 100%);
  font-size: large;
  text-align: center;
}
#accueil .accueilTitleLine {
  border-bottom: 3px solid #FFB47D;
  padding: 0 3rem;
  margin-bottom: 1rem;
  font-size: 3em;
  font-weight: bolder;
}
#accueil .accueilForewordLine {
  margin-bottom: 1rem;
}
#accueil .accueilCurrentSituationLine {
  margin-top: 1rem;
}
#accueil .triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transform: rotate(360deg);
  opacity: 1;
  transition: opacity 0.5s;
}
#accueil .triangle.bottom {
  right: 0;
  bottom: 0;
}
#accueil .triangle.bottom.orange {
  border-width: 0 0 15vh 30vw;
  border-color: transparent transparent #FF8427 transparent;
}
#accueil .triangle.bottom.white {
  border-width: 0 0 15.5vh 30.5vw;
  border-color: transparent transparent white transparent;
}
#accueil .triangle.bottom.grey {
  border-width: 0 0 18vh 45vw;
  border-color: transparent transparent #7F7F7F transparent;
}
#accueil .triangle.top {
  left: 0;
  top: 0;
}
#accueil .triangle.top.orange {
  border-width: 15vh 30vw 0 0;
  border-color: #FF8427 transparent transparent transparent;
}
#accueil .triangle.top.white {
  border-width: 15.5vh 30.5vw 0 0;
  border-color: white transparent transparent transparent;
}
#accueil .triangle.top.grey {
  border-width: 18vh 45vw 0 0;
  border-color: #7F7F7F transparent transparent transparent;
}
#accueil:not(.activeSection) .triangle {
  opacity: 0;
  transition: opacity 0.5s;
}

#cv {
  background: whitesmoke;
  background: linear-gradient(0deg, #efefef 0%, whitesmoke 100%);
  display: grid;
  grid-template-columns: 20% 80%;
}
#cv:not(.activeSection) #cvNav {
  opacity: 0;
  transition: opacity 0.5s;
}
#cv #cvNav {
  display: flex;
  flex-direction: column;
  background-color: #484848;
  height: 100%;
  padding: 2em;
  padding-top: 25vh;
  opacity: 1;
  transition: opacity 0.5s;
}
#cv #cvNav div {
  color: white;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
#cv #cvNav div#cvNavMain {
  text-align: center;
  padding: 1em;
  border-bottom: 1px solid #FF8427;
  font-size: 1.5em;
}
#cv #cvNav div#cvNavMain span {
  padding: 0.2em;
  border: 1px solid transparent;
  transition: border 0.5s;
}
#cv #cvNav div#cvNavMain.cvNavActive span, #cv #cvNav div#cvNavMain:hover span {
  border: 1px solid #FF8427;
  transition: border 0.5s;
}
#cv #cvNav div:not(#cvNavMain) {
  padding-top: 1em;
  margin-left: 1em;
  transition: margin-left 1s;
}
#cv #cvNav div:not(#cvNavMain) span {
  box-shadow: 0px 2px 0px -1px transparent;
  transition: box-shadow 1s;
}
#cv #cvNav div:not(#cvNavMain):hover {
  margin-left: 2em;
  transition: margin-left 0.5s;
}
#cv #cvNav div:not(#cvNavMain):hover span {
  box-shadow: 0px 2px 0px -1px #FF8427;
  transition: box-shadow 0.5s;
}
#cv #cvNav div:not(#cvNavMain).cvNavActive span {
  box-shadow: 0px 2px 0px -1px #FF8427;
  transition: box-shadow 0.5s;
}
#cv #cvNav div:not(#cvNavMain)::before {
  content: " - ";
  color: #FF8427;
}
#cv #cvPanels {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
#cv #cvPanels .cvPanel {
  position: absolute;
  left: calc(20% + 5em);
  right: calc(5em);
}
#cv #cvPanels .cvPanel.cvActive {
  z-index: 1;
  max-height: 200vh;
  transition: transform 1s 1s, opacity 1s 1s, max-height 1s 1s;
  transition-timing-function: ease-in-out;
  position: relative;
  left: 5em;
  width: calc(100% - 10em);
}
#cv #cvPanels .cvPanel:not(.cvActive) {
  transform: translateX(-4em);
  opacity: 0;
  max-height: 100vh;
  transition: transform 1s, opacity 1s, max-height 0s, z-index 0s 1s;
  transition-timing-function: ease-in-out;
  z-index: -5;
}
#cv #cvPanels .cvPanel .sectionTitle {
  font-variant: small-caps;
  border-bottom: 1px solid #FF8427;
}
#cv #cvPanels .cvPanel .sectionTitle span {
  display: inline-block;
  min-width: 33%;
  width: auto;
  background-color: #D9D9D9;
  padding: 4px 8px;
}
#cv #cvPanels .cvPanel #cvMainDesc {
  padding: 0 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #7F7F7F;
}
#cv #cvPanels .cvPanel #cvMainDesc .cvMainDescLine {
  padding-bottom: 0.5em;
}
#cv #cvPanels .cvPanel #cvMainFooter {
  padding: 0 2em;
}
#cv #cvPanels .cvPanel #cvMainFooter .cvMainFooterLine {
  padding-bottom: 0.5em;
  text-align: center;
}
#cv #cvPanels .cvPanel #cvMainFooter .cvMainFooterLine #cvPdfLink {
  text-decoration: underline;
  cursor: pointer;
  color: unset;
}
#cv #cvPanels .cvPanel #cvExpContent .aCvExp {
  padding-bottom: 1em;
}
#cv #cvPanels .cvPanel #cvExpContent .aCvExp:not(:last-child) {
  border-bottom: 1px solid #7F7F7F;
  margin-bottom: 1em;
}
#cv #cvPanels .cvPanel #cvExpContent .aCvExp.cvExpActive .cvExpChevron {
  transform: rotate(90deg);
  transition: transform 0.5s;
}
#cv #cvPanels .cvPanel #cvExpContent .aCvExp.cvExpActive .cvExpBody {
  max-height: 200vh;
  opacity: 1;
  transition: max-height 2s, opacity 1s;
}
#cv #cvPanels .cvPanel #cvExpContent .aCvExp:not(.cvExpActive) .cvExpBody {
  max-height: 0;
  opacity: 0;
  transform: translateX(200vw);
  transition: max-height 1s, opacity 0.75s, transform 1s 1s;
  overflow: hidden;
}
#cv #cvPanels .cvPanel #cvExpContent .aCvExp .cvExpHead {
  padding-left: 2em;
  cursor: pointer;
}
#cv #cvPanels .cvPanel #cvExpContent .aCvExp .cvExpHead .cvExpChevron {
  position: absolute;
  left: 0.5em;
  font-size: large;
  font-weight: bolder;
  margin-top: 1ch;
  transition: transform 0.5s;
}
#cv #cvPanels .cvPanel #cvExpContent .aCvExp .cvExpHead .cvExpTime {
  font-style: italic;
  font-size: medium;
}
#cv #cvPanels .cvPanel #cvExpContent .aCvExp .cvExpHead .cvExpTitle {
  font-size: large;
}
#cv #cvPanels .cvPanel #cvExpContent .aCvExp .cvExpBody {
  line-height: 1.5;
}
#cv #cvPanels .cvPanel #cvExpContent .aCvExp .cvExpBody .cvExpSectionTitle {
  margin-top: 0.75em;
}
#cv #cvPanels .cvPanel #cvExpContent .aCvExp .cvExpBody .cvExpSectionTitle::before {
  content: "> ";
  color: #FF8427;
  font-weight: bolder;
}
#cv #cvPanels .cvPanel #cvExpContent .aCvExp .cvExpBody .cvExpSectionItem::before {
  content: "- ";
  color: #FF8427;
  font-weight: 900;
  margin-left: 1em;
}
#cv #cvPanels .cvPanel#cvProj .cvProjItem {
  line-height: 1.5;
}
#cv #cvPanels .cvPanel#cvProj .cvProjItem::before {
  content: "- ";
  color: #FF8427;
  font-weight: 900;
  margin-left: 1em;
}
#cv #cvPanels .cvPanel#cvForm .cvFormItem {
  line-height: 1.5;
  padding-left: 2em;
}
#cv #cvPanels .cvPanel#cvForm .cvFormItem:not(:last-child) {
  padding-bottom: 1em;
  border-bottom: 1px solid #7F7F7F;
  margin-bottom: 1em;
}
#cv #cvPanels .cvPanel#cvForm .cvFormItem .cvFormHead span {
  padding-right: 1ch;
}
#cv #cvPanels .cvPanel#cvForm .cvFormItem .cvFormHead .cvFormTime {
  font-style: italic;
}
#cv #cvPanels .cvPanel#cvForm .cvFormItem .cvFormHead .cvFormName {
  font-weight: bold;
}
#cv #cvPanels .cvPanel#cvForm .cvFormItem .cvFormDesc {
  padding-left: 1em;
}
#cv #cvPanels .cvPanel#cvComp #cvDevSection {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 2em;
}
#cv #cvPanels .cvPanel#cvComp #cvDevSection .cvCompGrid {
  display: grid;
  padding: 1em 0;
}
#cv #cvPanels .cvPanel#cvComp #cvDevSection .cvCompGrid .cvCompGridTitle {
  justify-content: center;
  font-weight: bold;
  padding-bottom: 1ch;
  margin-bottom: 1ch;
  border-bottom: 1px solid #7F7F7F;
}
#cv #cvPanels .cvPanel#cvComp #cvDevSection .cvCompGrid div {
  padding: 0 2ch;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
#cv #cvPanels .cvPanel#cvComp #cvDevSection #cvDevGrid {
  grid-template-columns: auto auto;
}
#cv #cvPanels .cvPanel#cvComp #cvDevSection #cvDevGrid .cvCompGridTitle {
  grid-column: 1/3;
}
#cv #cvPanels .cvPanel#cvComp #cvDevSection #cvDevGrid .skillJauge :nth-child(1) {
  color: rgba(0, 0, 0, calc(1 - (0 * 0.2)));
}
#cv #cvPanels .cvPanel#cvComp #cvDevSection #cvDevGrid .skillJauge :nth-child(2) {
  color: rgba(0, 0, 0, calc(1 - (1 * 0.2)));
}
#cv #cvPanels .cvPanel#cvComp #cvDevSection #cvDevGrid .skillJauge :nth-child(3) {
  color: rgba(0, 0, 0, calc(1 - (2 * 0.2)));
}
#cv #cvPanels .cvPanel#cvComp #cvDevSection #cvDevGrid .skillJauge :nth-child(4) {
  color: rgba(0, 0, 0, calc(1 - (3 * 0.2)));
}
#cv #cvPanels .cvPanel#cvComp #cvDevSection #cvDevGrid .skillJauge :nth-child(5) {
  color: rgba(0, 0, 0, calc(1 - (4 * 0.2)));
}
#cv #cvPanels .cvPanel#cvComp #cvDevSection #cvFrWkGrid {
  grid-template-columns: auto;
}
#cv #cvPanels .cvPanel#cvComp #cvDevSection #cvFrWkGrid .cvCompGridTitle {
  grid-column: 1/2;
}
#cv #cvPanels .cvPanel#cvComp #cvCompLogiNav {
  padding: 0 2em;
  padding-bottom: 0.5em;
  display: flex;
  flex-wrap: wrap;
}
#cv #cvPanels .cvPanel#cvComp #cvCompLogiNav span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1ch;
  cursor: pointer;
  background: #D9D9D9;
}
#cv #cvPanels .cvPanel#cvComp #cvCompLogiNav span.cvNavLogiActive {
  background: #FFB47D;
}
#cv #cvPanels .cvPanel#cvComp #cvCompLogiNav span:hover {
  background: #FF8427;
}
#cv #cvPanels .cvPanel#cvComp .cvCompLogi {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2em;
}
#cv #cvPanels .cvPanel#cvComp .cvCompLogi:not(.cvLogiActive) {
  display: none;
}
#cv #cvPanels .cvPanel#cvComp .cvCompLogi .cvCompLogiItem {
  display: flex;
  justify-content: center;
  flex: 1;
  transition: flex 0.75s;
  transition-timing-function: linear;
}
#cv #cvPanels .cvPanel#cvComp .cvCompLogi .cvCompLogiItem:hover {
  flex: 2;
}
#cv #cvPanels .cvPanel#cvComp .cvCompLogi .cvCompLogiItem:hover span {
  flex: 1;
  position: relative;
  max-width: 25vw;
  opacity: 1;
  visibility: visible;
  padding: 0.5em;
  transition: max-width 0.5s, opacity 0.5s 0.25s, visibility 0s, padding 0.5s;
  transition-timing-function: linear;
  cursor: default;
}
#cv #cvPanels .cvPanel#cvComp .cvCompLogi .cvCompLogiItem i {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1ch 0;
}
#cv #cvPanels .cvPanel#cvComp .cvCompLogi .cvCompLogiItem i img {
  max-height: 64px;
  max-width: 64px;
}
#cv #cvPanels .cvPanel#cvComp .cvCompLogi .cvCompLogiItem span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  position: relative;
  max-width: 0;
  opacity: 0;
  visibility: hidden;
  padding: 0em;
  transition: max-width 0.5s 0.25s, opacity 0.5s, visibility 0s 1s, padding 0.5s 0.25s;
  transition-timing-function: linear;
  font-weight: bold;
  font-size: large;
}
#cv #cvPanels .cvPanel#cvComp .cvCompLangSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 2px;
  padding: 0 1em;
}
#cv #cvPanels .cvPanel#cvComp .cvCompLangSection .cvCompLang {
  padding: 0 0 1em 1em;
}
#cv #cvPanels .cvPanel#cvComp .cvCompLangSection .cvCompLang .cvCompLangName {
  font-weight: bold;
  padding-bottom: 0.5ch;
}
#cv #cvPanels .cvPanel#cvComp .cvCompLangSection .cvCompLang .cvCompLangName img {
  position: relative;
  top: 0.5em;
  padding-right: 1ch;
}
#cv #cvPanels .cvPanel#cvMisc .cvMiscItem {
  line-height: 1.5;
  padding-left: 2em;
  padding-bottom: 1em;
}

#portfolio {
  background: linear-gradient(0deg, #484848 0%, #555 100%);
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto 1fr;
  height: 100vh;
}
#portfolio > * {
  max-height: 100%;
  height: 100%;
}
#portfolio #portfolioHead {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  border-bottom: 2px solid #626262;
}
#portfolio #portfolioHead #portfolioTitle {
  padding: 0 3rem;
  font-size: 3em;
  font-weight: bolder;
  color: #f2f2f2;
  letter-spacing: 1px;
}
#portfolio #portfolioHead #portfolioSectionsAndProjects {
  min-width: 75%;
  background-color: #7F7F7F;
  border-radius: 2em;
  padding: 0 2em;
  position: relative;
}
#portfolio #portfolioHead #portfolioSectionsAndProjects #portfolioSections {
  display: flex;
  justify-content: center;
  align-items: center;
}
#portfolio #portfolioHead #portfolioSectionsAndProjects #portfolioSections .portfolioSection {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 1em 0;
  color: white;
}
#portfolio #portfolioHead #portfolioSectionsAndProjects #portfolioSections .portfolioSection:hover {
  background-color: #D9D9D9;
  color: #595959;
}
#portfolio #portfolioHead #portfolioSectionsAndProjects #portfolioSections .portfolioSection.activePortfolioSection {
  background-color: #FFB47D;
  color: #595959;
}
#portfolio #portfolioHead #portfolioSectionsAndProjects #portfolioProjectsWrapper {
  position: absolute;
  left: 12.5%;
  width: 75%;
  margin-top: 0.5em;
  display: flex;
}
#portfolio #portfolioHead #portfolioSectionsAndProjects #portfolioProjectsWrapper .left, #portfolio #portfolioHead #portfolioSectionsAndProjects #portfolioProjectsWrapper .right {
  color: #D9D9D9;
  cursor: pointer;
  height: 2em;
  height: 40px;
  padding: 0.25em 0;
}
#portfolio #portfolioHead #portfolioSectionsAndProjects #portfolioProjectsWrapper .left {
  margin-right: 1em;
}
#portfolio #portfolioHead #portfolioSectionsAndProjects #portfolioProjectsWrapper .right {
  margin-left: 1em;
}
#portfolio #portfolioHead #portfolioSectionsAndProjects #portfolioProjectsWrapper #portfolioProjects {
  padding: 0 1em;
  background-color: #D9D9D9;
  border-radius: 1em;
  flex: 1;
  z-index: 100;
}
#portfolio #portfolioHead #portfolioSectionsAndProjects #portfolioProjectsWrapper #portfolioProjects div {
  text-align: center;
  cursor: pointer;
  padding: 0.5em;
}
#portfolio #portfolioHead #portfolioSectionsAndProjects #portfolioProjectsWrapper #portfolioProjects div.activePortfolioProject {
  background-color: #FFB47D;
}
#portfolio #portfolioHead #portfolioSectionsAndProjects #portfolioProjectsWrapper #portfolioProjects div:not(.activePortfolioProject) {
  background-color: #D9D9D9;
  max-height: 0;
  transform: scaleY(0);
  padding: 0;
  transition: max-height 0.5s, transform 0.5s, padding 0.5s;
  transition-timing-function: linear;
}
#portfolio #portfolioHead #portfolioSectionsAndProjects #portfolioProjectsWrapper #portfolioProjects:hover div:not(.activePortfolioProject) {
  max-height: 3em;
  transform: scaleY(1);
  padding: 0.5em;
  transition: max-height 0.5s, transform 0.5s, padding 0.5s;
  transition-timing-function: linear;
}
#portfolio #portfolioMedia {
  position: relative;
  min-height: 0;
  max-height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1em;
  padding-bottom: 2em;
}
#portfolio #portfolioMedia #portfolioMediaWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
#portfolio #portfolioMedia #portfolioMediaWrapper .portfolioCarouselItem {
  display: none;
}
#portfolio #portfolioMedia #portfolioMediaWrapper .portfolioCarouselItem.activeMedia {
  display: initial;
}
#portfolio #portfolioMedia #portfolioMediaWrapper img.portfolioCarouselItem, #portfolio #portfolioMedia #portfolioMediaWrapper video.portfolioCarouselItem {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  outline: none;
}
#portfolio #portfolioMedia #portfolioMediaWrapper:not(.disabledFullscreen)::after {
  position: absolute;
  bottom: 2em;
  width: 100%;
  padding: 0.5em 0;
  content: "Cliquez sur l'image pour l'afficher en plein écran";
  background: linear-gradient(#00000040, #00000080);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
}
#portfolio #portfolioMedia #portfolioMediaWrapper:not(.disabledFullscreen):hover {
  cursor: pointer;
}
#portfolio #portfolioMedia #portfolioMediaWrapper:not(.disabledFullscreen):hover::after {
  opacity: 1;
  transition: opacity 0.5s;
}
#portfolio #portfolioMedia .portfolioNavBtn {
  background-color: transparent;
  transition: background-color 0.5s;
  border: none;
  outline: none;
}
#portfolio #portfolioMedia .portfolioNavBtn:hover {
  background-color: #efefef20;
  transition: background-color 0.5s;
}
#portfolio #portfolioMedia #portfolioIndicators {
  color: #f2f2f2;
  position: absolute;
  bottom: calc((2em / 2) - (0.75em / 2) * 0.75);
  display: flex;
}
#portfolio #portfolioMedia #portfolioIndicators svg {
  height: 0.75em;
  width: 0.75em;
  margin: 0 0.1em;
}
#portfolio #portfolioText {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em;
  background: linear-gradient(#626262, #555);
}
#portfolio #portfolioText h2 {
  font-weight: bolder;
  color: lightgrey;
  margin-bottom: 2rem;
}
#portfolio #portfolioText div {
  color: whitesmoke;
}
#portfolio #portfolioText div#portfolioProjectTitle {
  font-size: 28px;
  margin-bottom: 1em;
  font-variant: small-caps;
}
#portfolio #portfolioText div#portfolioProjectContext {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 0.25em 1em;
  margin-bottom: 1em;
}
#portfolio #mediaModal {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  cursor: pointer;
}
#portfolio #mediaModal.activeModal {
  opacity: 1;
  z-index: 1000;
  transition: opacity 1s;
}
#portfolio #mediaModal:not(.activeModal) {
  opacity: 0;
  z-index: -1000;
  transition: opacity 0.5s, z-index 0s 0.5s;
}
#portfolio #mediaModal img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

#contact {
  background: sandybrown;
  background: linear-gradient(0deg, #b67c4b 0%, sandybrown 50%, #ffb87c 100%);
  position: relative;
  overflow: hidden;
}
#contact #contactPanel {
  background-color: #3c3c3c;
  color: #ddd;
  padding: 1em;
  border-radius: 45px;
  text-align: center;
  font-size: larger;
}
#contact #contactPanel #contactDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}
#contact #contactPanel #contactDiv .canal {
  padding: 1em;
  border-radius: 45px;
}
#contact #contactPanel #contactDiv .canal div {
  margin-top: 0.5rem;
}
#contact #contactPanel #contactDiv .canal .contactTile {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  outline: none;
}
#contact #contactPanel #contactDiv .canal .contactTile svg {
  position: relative;
  color: #262626;
  transition: 0.5s;
  height: 50px;
  width: 50px;
  z-index: 3;
}
#contact #contactPanel #contactDiv .canal .contactTile::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #595959;
  transition: 0.5s;
  z-index: 2;
}
#contact #contactPanel #contactDiv .canal .contactTile:hover {
  color: #FFB47D;
}
#contact #contactPanel #contactDiv .canal .contactTile:hover svg {
  color: #fff;
  transform: rotateY(360deg);
}
#contact #contactPanel #contactDiv .canal .contactTile:hover::before {
  top: 0;
}
#contact #contactPanel #contactDiv :nth-child(1) .contactTile::before {
  background-color: #28a8ea;
}
#contact #contactPanel #contactDiv :nth-child(2) .contactTile::before {
  background-color: #e34133;
}
#contact #contactPanel #contactDiv :nth-child(3) .contactTile::before {
  background-color: #0077b7;
}
#contact #footer {
  background-color: #3c3c3c;
  color: #ddd;
  position: absolute;
  bottom: 0;
  padding: 0.75em;
  margin: 0.75em;
  border-radius: 45px;
}
#contact #footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}
#contact #legalOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
#contact #legalOverlay:not(.toggledLegal) {
  transform: translateX(200vw);
  background-color: transparent;
  transition: background-color 0.5s linear, transform 0s 1s;
}
#contact #legalOverlay:not(.toggledLegal) #legalPanel {
  opacity: 0;
  transition: opacity 0.5s linear;
}
#contact #legalOverlay.toggledLegal {
  background-color: #00000080;
  transition: background-color 0.5s linear;
}
#contact #legalOverlay.toggledLegal #legalPanel {
  opacity: 1;
  transition: opacity 0.5s linear;
}
#contact #legalOverlay #legalPanel {
  background-color: #D9D9D9;
  max-width: 75%;
  padding: 2em;
  max-height: 100%;
  overflow: auto;
}
#contact #legalOverlay #legalPanel .legalPanelItem {
  padding-bottom: 0.5em;
}
#contact #legalOverlay #legalPanel #closeLegal {
  color: #7F7F7F;
  font-size: xx-large;
  cursor: pointer;
  float: right;
}/*# sourceMappingURL=style.css.map */